http_interactions:
- request:
    method: GET
    uri: https://hb.cran.dev/get
    body:
      string: ''
    headers: []
  response:
    status: 200
    headers:
      content-type: application/json
      x-processed-time: '0'
    body:
      string: "{\n  \"args\": {}, \n  \"headers\": {\n    \"Accept\": \"*/*\", \n
        \   \"Accept-Encoding\": \"gzip, br\", \n    \"Cdn-Loop\": \"cloudflare; loops=1\",
        \n    \"Cf-Connecting-Ip\": \"2600:1700:d01:845f:f8e0:f28d:f0a:d1f\", \n    \"Cf-Ipcountry\":
        \"US\", \n    \"Cf-Ray\": \"93b8ae95e81469de-DFW\", \n    \"Cf-Visitor\":
        \"{\\\"scheme\\\":\\\"https\\\"}\", \n    \"Connection\": \"close\", \n    \"Host\":
        \"httpbin:8080\", \n    \"User-Agent\": \"httr2/1.1.2 r-curl/6.2.2 libcurl/8.11.1\"\n
        \ }, \n  \"origin\": \"2600:1700:d01:845f:f8e0:f28d:f0a:d1f\", \n  \"url\":
        \"https://httpbin:8080/get\"\n}\n"
  recorded_at: 2025-05-06 13:04:11
recorded_with: vcr/1.7.0.91, webmockr/2.0.0
