on: push
name: revdep

jobs:
  revdep:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'REVDEPCHECK')
    name: ubuntu-latest (release)
    strategy:
      fail-fast: false

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GH_PAT }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::pak

      - name: Revdepcheck
        run: Rscript -e "pak::pak('r-lib/revdepcheck')" -e "revdepcheck::revdep_reset()" -e "revdepcheck::revdep_check(num_workers=4)"

      - name: Upload revdepcheck results
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-latest-r-release-results
          path: revdep/*.md
